jupyter
notebook
numpy
pandas
polars
matplotlib
scipy
seaborn
scikit-learn
statsmodels
sympy
cython
patsy
numba
bokeh
pandas-datareader
ipython-sql
pandasql
memory_profiler
ipyparallel
pymc
pystan
arrow
scikit-plot
jax
shapely
numpyro
blackjax
bridgestan
pyarrow